body {
    magin: 8px auto;
    min-width: 240px;
    max-width: 50px;
    background-color: lightseagreen;
}
* {
    box sizing: border-box;
}

ul{

    margin: 20;
    padding: 20;
}

ul li{
    position: relative;
    padding: 12px 8px 12px 20px;
    list-style-type: none;
    background: grey;
    font-size: 15px;
    transition: 0.2s;
}